*{margin:0;padding:0;}
.container {
    width: 1300px;
    background-color: #fff;
    border-top: 8px solid #a292b3;
    border-bottom: 8px solid #a292b3;
    margin:0 auto;
}
header{
    height:130px;
}
.wrapper {
    width:1020px;
    margin:0 auto;
}
.logo {
    float: left;
}
.logo img{float:left;
          width:80px;
          height:80px;
          margin-top:25px;
          
}

.menu {
    float: right;
}
.menu li {
    display: inline-block;
    line-height: 130px;
    height: 130px;
    padding-left: 30px;
    }
.menu li a{
    font-size:19px;
    font-family:"M PLUS Rounded 1c", sans-serif;
    color: rgb (84, 84, 84);
    text-decoration:none;
}

#Contact::before{
    content: url("../img/contact.jpg")
}

#Services::before{
    content: url("../img/services.jpg")
}

#About::before{
    content: url("../img/about.jpg")
}

#Home::before{
    content: url("../img/home.jpg")
}

.Minto {
    font-size: 39px;
    font-family:"SamoSans";
    color: rgb(162,146,179);
    text-transform: uppercase;
    float: left;
    line-height:130px;
    height:130px;
}

.slider{
    width:100%;
    height:485px;
}

.qt {
    width: 100%;
    font-size: 23px;
    font-family: "SamoSans";
    height: 132px;
    display:block;
    text-align:center;
    position:relative;
}
.textqt {
    width: 100%;
    height: 132px;
    position: absolute;
    /*top: 50%;*/
    /*    left: 50%;
    margin-left: -75px;*/
    margin-top: 30px;
    letter-spacing: 1px;
    color: #494848;
    font-weight:500;
}

.pyst {
    height:40px;
}

.razdelitel {
    border:none;
    height:1px;
    background-color:#bfbfbf;
    width:100%;
}

.content {
    width:100%;
}

.content img {
    float:left;
    width:310px;
    height:310px;
    margin-top:30px;
}

.contenttext {
    float:left;
    color: #838383;
    font-size:15px;
    margin-top:80px;
    margin-left:36px;
    line-height:23px;
}


#linkcont {
    float: right;
    line-height: 13px;
    display: inline-block;
}
    #linkcont a {
        display: inline-block;
        text-decoration: none;
        margin-right: 5px;
        color: #838383;
    }

#linkcont img {
    float: right;
    width: 11px;
    height: 7px;
    display: inline-block;
    margin-top:4px;
}

.clienttitle{
    width:100%;
    float:left;
    height:114px;
    line-height:114px;
}
    .clienttitle img {
        float: left;
        height: 7px;
        float: left;
        margin-top: 55px;
        margin-left: 7px;
        width: 693px;
    }

.clienttitle h2 {
    font-size: 23px;
    font-weight: 500;
    float:left;
    display:inline-block;
}
.ceintlogos {
    border: 1px solid #e4e4e4;
    width: 100%;
    height: 73px;
    background-color: #f5f5f5;
    display:block;
}

.ceinlogo {
    border-right: 1px solid #e4e4e4;    
    display:inline-block;
    width: 24.5%;
    height: 100%;
}
.ceinlogo img {
    display: block;
    margin: 18px auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    height: 67px;
    background-image: url("../img/footer.jpg")
}

#pystoy{
    height:60px;
}

.footwrap {
    margin:0 auto;
    width:1020px;
    display:flex;
    justify-content:space-between;
}
#copy{
    line-height:67px;
    height:67px;
    margin-left:20;
}

#znachki {
    height:50px;
    display:inline-block;
    margin-top:20px;
}

#znachki li{
    display:inline-block;
    line-height:67px;
    text-decoration:none;
}

