body{
    background-color: #f8f8f8;
}

.spisok1 {
    sont-size: 30px;
    color: aqua ;
    list-style-type: none;
}

.headings{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.spisok2{
    color: rebeccapurple;
    font-size: 25px;
}
.img1 {
    border: 2px solid purple;
    display: block;
    float: left;
    margin:15px;
}
.iframe1 {
    border: 5px;
    background-color: darkkhaki;
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-family: Calibri;
    text-transform: capitalize;
}
.iframemail {
    border: 5px;
    background-color: darkkhaki;
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-family: Calibri;
}
.iframemail:focus{
    color: palevioletred;
    background-color: lightblue;
}
.iframe1:focus{
    color: red;
    background-color: black;
}

.iframe2 {
    background-color: lavender;
    width: 300px;
    height: 200px;
    font-family: Antikvar;
    font-size: 20px;
    text-transform: capitalize;
}
.iframe2:focus{
    background-color:mediumpurple;
    color: forestgreen;
}
a:hover{
    color: dimgrey;
    text-decoration:none;
}

table td {
    border: 1px solid #000;
}

img:hover {
    border: transparent;
}

header {
    height: 200px;
    background-color:mediumpurple;       
}

.container {
    width: 300px;
    margin:0 auto;
}

#logo {
    margin-left: 30px;
    float: left;
}
.inline li {
    display: inline;
    margin-right: 20px;
    float:right;
}

footer {
    height: 200px;
    background-color: indigo;  
}

footer div {
    text-align:right;
    margin: 10px;
}

#blockimg {
    display:block;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#buybutton {
    background-color:red;
    font-size: 30px;
    font-weight:600;
}

#buybutton:hover {
    background-color:yellow;
    color:blue;
    text-decoration:none;
}

#buybutton:active {
    background-color: forestgreen;
    color: blue;
    text-decoration: none;
}


.naverx a{
    width: 50px;
    height: 50px;
    background-color:cyan;
    text-align:center;
    text-decoration: none;
    display: block;
    position: fixed;
    border-radius: 12px;
    bottom: 20px;
    left: 40px;
}

.abs {
    width: 50px;
    height: 50px;
    background-color: cyan;
    position:absolute;
    top:100px;
    right;50px;
}